@font-face {
    font-family: "ObelixProB-cyr";
    font-style: normal;
    font-weight: normal;
    src: /*url("../fonts/ObelixProB-cyr.ttf") format("truetype"),*/
         url("../fonts/ObelixProB-cyr.woff") format("woff"),
         url("../fonts/ObelixProB-cyr.woff2") format("woff2");

}

@font-face {
    font-family: "ObelixProIt-cyr";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/ObelixProIt-cyr.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root{
    --footer-height: 600px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: normal;
    font-style: normal;
    min-height: 100vh;
    background-color: #F4F0E5;
    position: relative;
}
a{
    text-decoration-line: none;
    color: inherit;
}
section{
    position: relative;
}

.background-image{
    position: absolute;
    width: 100%;
    height: auto;
    top: 25px;
    left: 0;
    z-index: -1;
}
.second-bg__img{
    top: 150px;
}
.third-bg__img{
    top: auto;
    bottom: -130px;
}
.header{
    position: fixed;
    width: 100%;
    padding-top: 80px;
    z-index: 10;
}
.container{
    max-width: 90vw;
    margin: 0 auto;
}
.nav-menu{
    font-family: "ObelixProB-cyr", sans-serif;
    font-size: 16px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-menu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.nav-menu ul li{
    margin-left: 10px;
    background-color: #4a4a4a;
    width: 115px;
    transition: all 0.3s ease;
    border-radius: 0 0 9px 9px;
}
.nav-menu ul li:last-child{
    width: 150px;
}
.nav-menu ul li:hover{
    background-color: #6d6d6d;
}
.nav-menu ul li a{
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 0;
}
.s1-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}
.main-bg{
    max-width: 95%;
    position: relative;
}
.logo__img{
    max-width: 40%;
    position: absolute;
    bottom: 400px;
    right: 5vw;
}
.s1{
    min-height: 100vh;
    position: relative;
    margin-top: -80px;
}
.site-title{
    font-family: 'ObelixProB-cyr', sans-serif;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
    color: #4d4d50;
    font-size: 46px;
}
.s2-item{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
    align-items: center;
    position: relative;
}
.cats-gif__img{
    max-width: 65%;
    /*left: 50px;*/
    position: relative;
}
.s2-item p{
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    max-width: 80%;
    line-height: 2;
    font-weight: 600;
    /*margin-bottom: 220px;*/
    color: #222222;
    position: relative;
}
.cloud__img{
    width: 50%;
    position: absolute;
    top: -35px;
    left: auto;
    right: auto;
}
.s2-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.s3-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nitka-img{
    max-width: 80%;
}
.site-roadmap{
    list-style: none;
    text-align: center;
    color: #222222;
    position: absolute;
    top: 0px;
    font-size: 27px;
    height: 100%;
    padding-top: 85px;
    font-weight: 600;
}

.footer{
    position: relative;
    margin-top: 250px;
    min-height: var(--footer-height);
}
.footer-1__img{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    pointer-events: none;
}
.footer-2__img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 1;
}
.comix__img-a{
    width: 45%;
    cursor: zoom-in;
}
.comix__img{
    max-width: 100%;
}
.s3{
    padding-top: 80px;
    padding-bottom: 70px;
}
.site-roadmap li{
    height: 139px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.2px;
}
.footer__container-2{
    position: relative;
    z-index: 9;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 600px;
    padding-bottom: 40px;
    font-size: 18px;
    pointer-events: none;
}
.footer__container-2 h2{
    font-family: 'ObelixProB-cyr', sans-serif;
    margin-bottom: 35px;
    cursor: default;
}
.footer__container-2 a{
    font-size: 34px;
    pointer-events: auto;
}
.footer__container{
    position: absolute;
    width: 90vw;
    top: 69px;
    left: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 2;
}
.footer__container:not(.footer-names) img{
    width: 13%;
    transition: .8s ease all;
    cursor: pointer;
}
.footer__container:not(.footer-names) img:hover{
    transform: translateY(-120px);
}
.footer-names{
    z-index: 4;
    margin-top: 168px;
    color: #fff;
    font-size: 24px;
    text-align: center;
}
.footer-names__item{
    width: 15%;
}
.footer-names__item h3{
    font-family: 'ObelixProB-cyr', sans-serif;
    margin-bottom: 10px;
    cursor: default;
}
.footer-names__item p{
    cursor: default;
}
.footer-names__item a{
    margin-top: 15px;
    font-size: 18px;
    display: block;
}
.muha__wrapper{
    position: absolute;
    bottom: 62%;
    right: 6vw;
    transform: scale(0.5);
    animation-duration: 2.5s;
    animation-name: moving;
    animation-iteration-count: infinite;
}
.muha__wrapper2{
    right: 22vw;
    bottom: 71%;
    animation-duration: 2.5s;
    animation-name: moving2;
}
.muha__wrapper3{
    bottom: auto;
    top: 22%;
    right: 4vw;
}
.muha__wrapper4{
    left: 0;
    right: auto;
    bottom: 40%;
    animation-name: moving3;
}
.muha-wing1{
    position: absolute;
    top: -51px;
    left: 57px;
    animation-duration: .2s;
    animation-name: wave;
    animation-iteration-count: infinite;
}
.muha-wing2{
    position: absolute;
    top: -58px;
    left: 31px;
    animation-duration: .2s;
    animation-name: wave2;
    animation-iteration-count: infinite;
}
@keyframes moving {
    0% {
        transform: rotateZ(0deg) translate(0px, 0px) scale(0.5);
    }
  
    50% {
        transform: rotateZ(0deg) translate(3px, 25px) scale(0.5);
    }
    100% {
        transform: rotateZ(0deg) translate(0px, 0px) scale(0.5);
    }
}
@keyframes moving2 {
    0% {
        transform: rotateZ(0deg) translate(3px, 25px) scale(0.4) rotateY(180deg);
    }
  
    50% {
        transform: rotateZ(0deg) translate(0px, 0px) scale(0.4) rotateY(180deg);
    }
    100% {
        transform: rotateZ(0deg) translate(3px, 25px) scale(0.4) rotateY(180deg);
    }
}
@keyframes moving3 {
    0% {
        transform: rotateZ(0deg) translate(3px, 25px) scale(0.3) rotateY(180deg);
    }
  
    50% {
        transform: rotateZ(0deg) translate(0px, 0px) scale(0.3) rotateY(180deg);
    }
    100% {
        transform: rotateZ(0deg) translate(3px, 25px) scale(0.3) rotateY(180deg);
    }
}
@keyframes wave {
    0% {
        transform: rotateZ(0deg) translate(0px, 0px);
    }
  
    50% {
        transform: rotateZ(9deg) translate(11px, 5px);
    }
    100% {
        transform: rotateZ(0deg) translate(0px, 0px);
    }
}
@keyframes wave2 {
    0% {
        transform: rotateZ(0deg) translate(0px, 0px);
    }
  
    50% {
        transform: rotateZ(-26deg) translate(-9px, -4px);
    }
    100% {
        transform: rotateZ(0deg) translate(0px, 0px);
    }
}
.flower__img{
    position: absolute;
    left: 4vw;
    bottom: 35%;
    max-width: 50px;
}


figure.zoom,
.zoom{
	background-position: 50% 50%;
	position: absolute;
    top: 200px;
    left: 250px;
	width: 550px;
    height: 650px;
	overflow: hidden;
	cursor: zoom-in;
    z-index: 9;
    background-image: none;
    /*background-color: #fff;*/
    border-radius: 12px;
}
figure.zoom img:hover{
	opacity: 0;
}
figure.zoom img{
	transition: opacity 0.5s;
	display: block;
	width: 100%;
}

#progress-container{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 3px;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    /*box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);*/
}
#progress{
    border-radius: 2px;
    width: 0%;
    height: 100%;
    background-color: #4a4a4a;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    /*border-right: 3px solid #fff;*/
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.7);
}

.toTopBtn{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #4a4a4a;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5);
    transition: all .3s linear;
    cursor: pointer;
    z-index: 10;
}
.toTopBtn:after{
    content: '';
    position: absolute;
    top: calc(50% - 15px / 2);
    left: calc(50% - 15px / 2);
    display: block;
    width: 15px;
    height: 15px;
    border-right: 3px solid #fff;
    border-top: 3px solid #fff;
    border-top-right-radius: 3px;
    transform: rotateZ(-45deg) translate(-3px, 1px);
}
.toTopBtn:hover{
    background-color: rgb(36, 36, 36);
}
.toTopBtn{
    display: none;
}
.footer__container:not(.footer-names) img:nth-child(4){
    width: 15%;
}
.footer__container:not(.footer-names) img.zaka__img{
    width: 19%;
}
.mobile-footer__container{
    display: none;
}
.header__links-container{
    margin-right: 20px;
}
.header__links-container a{
    display: inline-block;
    margin-left: 10px;
}
.header__links-container img{
    height: 25px;
    transition: all 0.3s ease;
}
.header__links-container a:hover img{
    transform: translateY(-5px);
}
.founders__links-container{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.founders__links-container a{
    display: inline-block;
    margin-top: 0;
}
.founders__links-container a:not(:last-child){
    margin-right: 8px;
}
.founders__links-container img{
    height: 30px;
    transition: all 0.3s ease;
}
.founders__links-container a:hover img{
    transform: translateY(-5px);
}
.flowers{
    position: absolute;
    width: 50px;
    height: auto;
}
.flower__img2{
    right: 10vw;
    bottom: 24%;
}
.flower__img3{
    left: 7vw;
    top: 35%;
    transform: rotateZ(120deg);
}
.flower__img4{
    right: 18vw;
    top: 44%;
    transform: rotateZ(70deg);
}
.small-flowers{
    width: 15px;
}
.flower__img5{
    left: 45vw;
    top: 18%;
}
.flower__img6{
    left: 16vw;
    top: 38%;
}
.flower__img7{
    right: 15vw;
    top: 43%;
}
.flower__img8{
    right: 39vw;
    top: 53%;
}
.flower__img9{
    right: 7vw;
    top: 61%;
}
.flower__img10{
    left: 8vw;
    bottom: 39%;
}
.flower__img11{
    left: 17vw;
    bottom: 18%;
}
.footer-names__item:nth-child(1),
.footer-names__item:nth-child(2),
.footer-names__item:nth-child(3){
    left: -30px;
    position: relative;
}



@media screen and (min-width: 1280px){
    .zaka-br{
        display: none;
    }
    .site-roadmap{
        padding-top: 54px;
    }
    .site-roadmap li{
        height: 113px;
    }
    .cloud__img{
        width: 70%;
    }
    .footer-2__img{
        top: 165px;
    }
    .footer__container{
        top: 160px;
    }
    .footer-names{
        margin-top: 122px;
    }
    .footer__container:not(.footer-names) img:hover{
        transform: translateY(-100px);
    }
    .footer__container-2 h2{
        margin-bottom: 15px;
    }
    .zoom{
        top: 200px;
        left: 250px;
        width: 380px;
        height: 490px;
    }
}
@media screen and (min-width: 1366px){
    .zoom{
        top: 200px;
        left: 250px;
        width: 425px;
        height: 535px;
    }
}
@media screen and (min-width: 1440px){
    .site-roadmap{
        padding-top: 65px;
    }
    .site-roadmap li{
        height: 126px;
    }
    .footer__container{
        top: 125px;
    }
    .footer-names{
        margin-top: 132px;
    }
    .cloud__img{
        top: -25px;
        width: 50%;
    }
    .footer-2__img{
        top: 69px;
    }
    .footer__container:not(.footer-names) img:hover{
        transform: translateY(-105px);
    }
    .footer__container-2 h2{
        margin-bottom: 35px;
    }
    .zoom{
        top: 200px;
        left: 250px;
        width: 460px;
        height: 570px;
    }
}

@media screen and (min-width: 1500px){
    .zaka-br{
        display: block;
    }
    .site-roadmap li{
        height: 135px;
    }
    .zoom{
        top: 200px;
        left: 250px;
        width: 480px;
        height: 610px;
    }
}

@media screen and (min-width: 1600px){
    .site-roadmap{
        padding-top: 85px;
    }
    .site-roadmap li{
        height: 139px;
    }
    .footer__container{
        top: 69px;
    }
    .footer-names{
        margin-top: 168px;
    }
    .cloud__img{
        top: -35px;
    }
    .zoom{
        top: 200px;
        left: 250px;
        width: 550px;
        height: 650px;
    }
}
@media screen and (min-width: 1920px){
    .flower__img4{
        right: 18vw;
        top: 42%;
    }
    .flower__img5{
        top: 16%;
    }
    .flower__img6 {
        left: 19vw;
        top: 36%;
    }
    .flower__img7 {
        top: 40%;
    }
    .flower__img8 {
        top: 51.5%;
    }
    .site-roadmap{
        font-size: 30px;
    }
    .site-roadmap li{
        height: 169px;
    }
    .footer__container{
        top: -36px;
    }
    .footer-names{
        margin-top: 197px;
    }
    .cloud__img{
        top: -64px;
    }
    .footer-2__img{
        top: -65px;
    }
    .zoom{
        top: 246px;
        left: 346px;
        width: 600px;
        height: 800px;
    }
}
@media screen and (max-width:1279px) {
    .logo__img{
        bottom: 170px;
    }
    .s2-item p{
        /*margin-bottom: 93px;*/
        font-size: 14px;
    }
    .cloud__img{
        top: -25px;
        width: 70%;
    }
    .muha__wrapper{
        bottom: 47%;
    }
    .muha__wrapper2{
        bottom: 55%;
    }
    .site-roadmap{
        padding-top: 46px;
        font-size: 22px;
    }
    .site-roadmap li{
        height: 90px;
    }
    .footer{
        margin-top: 50px;
    }
    .footer__container{
        top: 240px;
    }
    .footer-2__img{
        top: 264px;
    }
    .footer-names{
        margin-top: 118px;
        font-size: 16px;
    }
    .footer__container-2{
        height: 625px;
    }
    .footer__container-2 h2{
        margin-bottom: 12px;
    }
}
@media screen and (max-width:1279px) {
    .muha__wrapper2{
        bottom: 30%;
    }
    .site-roadmap{
        padding-top: 51px;
    }
}
@media screen and (max-width: 991px) {
    .logo__img{
        bottom: 170px;
    }
    .s2-item p{
        /*margin-bottom: 93px;*/
        font-size: 14px;
    }
    .cloud__img{
        top: -25px;
        width: 70%;
    }
    .zoom{
        display: none;
    }
}
/*@media screen and (max-width: 767px) {}*/
@media screen and (max-width: 896px) {
    .flowers{
        width: 25px;
    }
    .small-flowers{
        width: 10px;
    }
    .flower__img4 {
        right: 2vw;
        top: 47%;
    }
    .flower__img8 {
        right: 18vw;
        top: 55%;
    }
    .flower__img2{
        bottom: 26%;
    }
    .flower__img3{
        left: 3vw;
    }
    .logo__img{
        bottom: 77px;
    }
    .muha__wrapper{
        bottom: 36%;
    }
    .muha__wrapper2{
        bottom: 41px;
    }
    .site-title{
        font-size: 24px;
        margin-bottom: 45px;
        margin-top: 35px;
    }
    .s2-container{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .s2-item{
        max-width: 100%;
        margin-top: 65px;
    }
    .cats-gif__img{
        left: auto;
    }
    .comix__img-a{
        width: 90%;
    }
    .cloud__img{
        width: 53%;
    }
    /*.s2-item p{
        margin-bottom: 178px;
    }*/
    .site-roadmap{
        padding-top: 32px;
        font-size: 16px;
    }
    .site-roadmap li{
        height: 65px;
        letter-spacing: 1px;
    }
    .muha__wrapper3{
        right: 1vw;
    }
    .s1{
        margin-top: -50px;
    }
    .header{
        padding-top: 50px;
    }
    .footer__container-2{
        padding-bottom: 20px;
        font-size: 14px;
    }
    .footer__container-2 a{
        font-size: 20px;
    }
    .desktop-footer__container{
        display: none;
    }
    .mobile-footer__container{
        display: block;
        position: relative;
    }
    .container.footer__container{
        position: relative;
        left: auto;
        flex-wrap: wrap;
        top: 0;
        align-items: end;
    }
    .footer__container:not(.footer-names) img,
    img.zaka__img{
        width: 100%;
    }
    .mobile-kotick__item{
        width: 26%;
    }
    .footer__container-2{
        height: auto;
        margin-top: 30px;
    }
    :root{
        --footer-height: auto;
    }
    .footer-1__img,
    .footer-2__img{
        display: none;
    }
    .footer-names__item{
        width: 100%;
        color: #fff;
        text-align: center;
    }
    .footer-names__item p{
        font-size: 12px;
    }
    .footer-names__item{
        margin: 25px 0;
    }
    .footer{
        background-color: #5A8741;
        margin-top: 250px;
    }
    .footer-1__img{
        display: block;
        bottom: 99%;
        z-index: 1;
    }
    .footer__container:not(.footer-names) img:hover{
        transform: none;
    }
    .nav-menu{
        flex-direction: column-reverse;
    }
    .header__links-container{
        margin-right: 0;
        margin-top: 10px;
    }
    /*.nav-menu ul li:first-child,*/
    .nav-menu ul li:nth-child(2){
        display: none;
    }
    .nav-menu ul li:last-child{
        width: 98px;
    }
    .nav-menu ul li:first-child{
        display: none;
    }
    .nav-menu ul li:nth-child(3){
        margin-left: 0;
    }
    .header .container{
        max-width: 95vw;
    }
    .nav-menu ul li{
        width: 85px;
    }
    .nav-menu ul li:first-child,
    .header__links-container a:first-child{
        margin-left: 0;
    }
    .footer-names__item:nth-child(1), .footer-names__item:nth-child(2), .footer-names__item:nth-child(3){
        left: auto;
    }
    /* <mobile-footer> */

    .footer{
        background-color: transparent;
    }
    .footer-1__img{
        display: none;
    }
    .grass-mobile,
    .grass-mobile2{
        position: absolute;
        bottom: -177px;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        z-index: 4;
    }
    .grass-mobile2{
        z-index: 2;
        bottom: 26%;
    }
    .kotick-floor{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        position: relative;
    }
    .first-floor{
        z-index: 1;
        margin-bottom: 114px;
    }
    .second-floor{
        z-index: 3;
    }
    .kotick-floor img{
        width: 27%;
    }
    .test123{
        position: absolute !important;
        width: 100% !important;
        left: 0 !important;
        bottom: 34% !important;
        top: auto !important;
        right: 0 !important;
        z-index: 5;
    }
    .test321{
        bottom: -114px !important;
    }
    .footer__container-2{
        margin-top: 147px !important;
    }
    .grass-mobile__container:after,
    .grass-mobile2__container:after{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: -263px;
        left: 0;
        right: 0;
        z-index: 4;
        background-color: #5a8741;
    }
    .grass-mobile2__container:after{
        background-color: #90c17a;
        bottom: -185px;
        height: 350px;
        z-index: 2;
    }
    img.zaka__img{
        width: 41%;
    }
    .kotick-floor.second-floor img:nth-child(2){
        width: 31%;
    }

    /* </mobile-footer> */

    .flower__img5{
        top: 21%;
    }
    @keyframes moving {
        0% {
            transform: rotateZ(0deg) translate(0px, 0px) scale(0.3);
        }
      
        50% {
            transform: rotateZ(0deg) translate(3px, 25px) scale(0.3);
        }
        100% {
            transform: rotateZ(0deg) translate(0px, 0px) scale(0.3);
        }
    }
    @keyframes moving3 {
        0% {
            transform: rotateZ(0deg) translate(3px, 25px) scale(0.2) rotateY(180deg);
        }
      
        50% {
            transform: rotateZ(0deg) translate(0px, 0px) scale(0.2) rotateY(180deg);
        }
        100% {
            transform: rotateZ(0deg) translate(3px, 25px) scale(0.2) rotateY(180deg);
        }
    }
}
@media screen and (max-width: 479px) {
    .muha__wrapper{
        bottom: 55%;
    }
    .muha__wrapper2{
        display: none;
    }
    .main-bg{
        max-width: 100%;
        top: 95px;
    }
    .s1{
        margin-top: 0;
        min-height: auto;
        padding-bottom: 110px;
    }
    .header{
        padding-top: 20px;
    }
    .nav-menu{
        font-size: 12px;
    }
    .footer-names__item a{
        font-size: 12px;
    }
    .nitka-img{
        max-width: 100%;
    }
    .site-roadmap{
        padding-top: 21px;
        font-size: 12px;
    }
    .site-roadmap li {
        height: 46px;
        letter-spacing: 0px;
    }
    .muha__wrapper3{
        bottom: auto;
        top: 12%;
        right: -10px;
        display: block;
    }
    .muha__wrapper4{
        display: block;
        bottom: 40px;
        left: -30px;
    }
    .flower__img{
        bottom: 10%;
    }
    .header{
        padding-top: 0;
    }
    .logo__img{
        bottom: 135px;
        max-width: 49%;
    }
    .zaka__mobile-kotick__item{
        width: 35%;
    }
    .nik__mobile-kotick__item{
        width: 30%;
    }
    .footer__container-2{
        margin-top: 65px;
        font-size: 10px;
        padding-bottom: 60px;
    }
    .footer{
        margin-top: 150px;
    }
}
@media screen and (max-width: 390px) {
    .site-roadmap li{
        height: 43px;
    }
}
@media screen and (max-width: 375px) {
    .nav-menu ul li{
        width: 75px;
    }
    .site-roadmap{
        padding-top: 19px;
    }
    .site-roadmap li{
        height: 42px;
    }
    .zaka__mobile-kotick__item{
        width: 33%;
    }
    @keyframes moving {
        0% {
            transform: rotateZ(0deg) translate(0px, 0px) scale(0.2);
        }
      
        50% {
            transform: rotateZ(0deg) translate(3px, 25px) scale(0.2);
        }
        100% {
            transform: rotateZ(0deg) translate(0px, 0px) scale(0.2);
        }
    }
    .nav-menu{
        font-size: 10px;
    }
    .test123{
        bottom: 32% !important;
    }
    .test321{
        bottom: -131px !important;
    }
}
@media screen and (max-width: 360px) {
    .site-roadmap li{
        height: 40px;
    }
    .first-floor{
        margin-bottom: 99px;
    }
    .grass-mobile{
        bottom: -160px;
    }
}
@media screen and (max-width: 320px) {
    .site-roadmap{
        font-size: 10px;
    }
    .site-roadmap li{
        height: 35px;
        letter-spacing: -0.35px;
        line-height: 1;
    }
    .footer-names__item br{
        display: none;
    }
    .nav-menu{
        font-size: 9px;
    }
    .nav-menu ul li {
        width: 64px;
    }
    .grass-mobile{
        bottom: -140px;
    }
    .test123 {
        bottom: 29% !important;
    }
    .test321 {
        bottom: -131px !important;
    }
    .flower__img5{
        top: 24%;
    }
}